main {
  display: grid;
  grid-template-areas:
    "header header header"
    "side content content"
    "footer footer footer";
  grid-template-rows: 30px auto 30px;
  /* grid-template-columns: 30px 30px 30px; */
}

.header {
  grid-area: header;
  background-color: aqua;
}

.content {
  grid-area: content;
  background-color: blue;
}

.side {
  grid-area: side;
  background-color: blueviolet;
}

.footer {
  grid-area: footer;
  background-color: brown;
}